---
layout: default
---

<div style="height: 2em;"> </div>

<div style="text-align:center">
    <a href="/">
        <img style="max-width: 150px;"
             src="{{ "/assets/portfolio.png" | relative_url }}"
             alt="{{ site.plainwhite.name }}">
    </a>
    <h2>{{ site.plainwhite.name }}</h2>
    <p class="tagline">{{ site.plainwhite.tagline }}</p>
    <p class="tagline">Currently working as a Remote Software Engineer at Patron Technology</p>
    <p class="tagline">
        You can find me on
        <a href="https://www.linkedin.com/in/bitchiko-tchelidze-56a01ab4/">LinkedIn</a>,
        <a href="https://www.toptal.com/resume/bitchiko-tchelidze">TopTal</a>,
        <a href="https://github.com/tchelidze">Github</a>
    </p>
</div>